// COLORS (primary)
$rai-yellow: #fbf315;
$rai-black: #000000;
$rai-green: #78be21;
$rai-gray: #53565a;
$rai-red: #e7343f;
$rai-gray-light: rgb(231, 231, 231);

// FONTS
$primary-font-family: Helvetica;
